<form
(ngSubmit)="onUserAdd()"
[formGroup]="userForm">
    <div class="form-group">
      <label for="userName">User Name</label>
      <input formControlName="userName" type="text" class="form-control" id="userName">
    </div>
    <div class="form-group">
     <label for="userRole">User Role</label>
     <select formControlName="userRole" class="form-control" id="userRole">
        <option value="Candidate">Candidate</option>
        <option value="Admin">Admin</option>
     </select>
    </div>
<button *ngIf="!isIneditmode" type="submit" mat-raised-button color="primary" class="btn-block">Add User</button>
<button (click)="onUserUpdate()" *ngIf="isIneditmode" type="button" mat-raised-button color="primary" class="btn-block">Update User</button>

</form>
